@layer components {
  #pip-shell {
    box-sizing: border-box;
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    /* background-color: var(--color-black); */
    background-color: var(--color-sky-950);
  }
}
