#pwa-window-controls {
  position: fixed;
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, 33px);
  background-color: var(--color-black);
  -webkit-app-region: drag;
  /* app-region: drag; */

  h1 {
    color: var(--color-white);
    margin-left: 0.5em;
  }
}
